/* CONTENT STYLES - For all user generated content through the CMS */
/* This file should not contain template/layout styles such as grid systems, buttons, etc. */
/* The styles within this file can easily be overridden with a /css/content.css file in the main application webroot */

.main-container, .main-container p, .main-container h3 {
  font-family: 'LibreBaskerville', serif;
}

.main-container h1 {
  font-family: 'Raleway', sans-serif;
}

.main-container h2 {
  font-family: 'Raleway', sans-serif;
}

.main-container h3 {
}

.main-container h4 {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
}

.post-meta {
  font-family: 'Raleway', sans-serif;
}

.post-meta .byline {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  color: #aaa;
}