
/* SITE STYLES -- For templates, etc. */
/* Red link/accent: #ab1d1d; */
/* Green (status): #5bbd72; */
/* Red (status): #d95c5c; */

/* Blackprint Default Styles */
html {
  /* font-size: 62.5%; <-- already set by Bootstrap */
  line-height: 1rem;
}
body {
  padding-top: 50px; /* 50px is flush with the navbar */
  background-color: #FCFCFC;
}
html, body, .page-container {
  height: 100%;
}
.site-navbar .container, .page-container {
  padding-right: 0;
}
.user_menu button.navbar-btn {
  border-color: #ccc;
  color: #777;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.user_menu button.navbar-btn:hover {
  color: #ab1d1d;
  border-color: #888;
}

/*body {
	font-family: 'Raleway', sans-serif;
}
p {
	font-family: 'Raleway', sans-serif;
}
*/

p {
  font-size: 20px;
  font-size: 2rem;
  line-height: 30px;
  line-height: 3rem;
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.75);
  /*letter-spacing: 0.01em;*/
}
h1 {
  font-size: 60px;
  font-size: 6rem;
  line-height: 70px;
  line-height: 7rem;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin: 0;
  font-family: 'Raleway', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

h2 {
  font-size: 35px;
  font-size: 3.5rem;
  line-height: 40px;
  line-height: 4rem;
  letter-spacing: 0.02em;
  font-weight: 700;
  margin: 0;
  font-family: 'Raleway', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

h3 {
  font-size: 30px;
  font-size: 3rem;
  line-height: 35px;
  line-height: 3.5rem;
  letter-spacing: 0.02em;
  font-weight: 300;
  margin: 0;
  color: rgba(125, 125, 125, 0.75);
  font-family: 'Raleway', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.panel-container {
	/*padding: 0 10px 10px 10px;*/
}

i.fa {
  font-style: normal;
}

/* Tooltips */
a.help-tooltip {
	font-weight: normal;
	color: inherit;
	text-decoration: none;
}
.tip-small {
	position: relative;
	top: -0.5em;
	font-size: 80%;
	font-weight: normal;
	text-decoration: none;
	color: #222;
}
a.tip-small:hover, a.tip:hover {
	text-decoration: none;
}
.select-help {
  clear: left;
}

.btn-no-outline, .btn-no-outline:focus, .btn-no-outline:hover, .btn-no-outline:active {
  outline-width: 0;
  outline: none !important;
  background: none;
}

/* Colors */
.green {
  color: #5bbd72
}
.green-bg {
  background-color: #5bbd72;
}
.red {
  color: #d95c5c;
}
.red-bg {
  background-color: #d95c5c;
}
.yellow {
  color: #f2c61f;
}
.yellow-bg {
  background-color: #f2c61f;
}
.blue {
  color: #3b83c0;
}
.blue-bg {
  background-color: #3b83c0;
}
.orange {
  color: #e07b53;
}
.orange-bg {
  background-color: #e07b53;
}
.purple {
  color: #564f8a;
}
.purple-bg {
  background-color: #564f8a;
}
.pink {
  color: #d9499a;
}
.pink-bg {
  background-color: #d9499a;
}
.teal {
  color: #00b5ad;
}
.teal-bg {
  background-color: #00b5ad;
}


/* Menu stuff */
li a, li:focus, li a:focus {
	outline: none;
	border: 0;
}

.site-navbar .container {
	font-family: 'Raleway', sans-serif;
}

.site-navbar {
  background: none;
  background-color: #FCFCFC;
  border: 0;
}

.site-navbar .nav-rule {
  border-bottom: 1px solid #bbb;
}

.site-navbar .navbar-nav>li>a:hover,
.site-navbar .navbar-nav>li>a:active {
  border-color: rgba(234, 255, 255, 0.2);
  border-bottom: 1px solid;
  margin-bottom: -1px;
}
.site-navbar .navbar-nav>li>a.dropdown-toggle:hover {
  border-bottom: 0px;
   margin-bottom: 0px;
}
.site-navbar .navbar-nav>li>a {
  background-color: transparent !important;
}
.site-navbar .navbar-nav>li.active {
    border-color: rgba(234, 255, 255, 0.2);
    border-bottom: 1px solid;
    margin-bottom: -1px;
}

.site-navbar button.navbar-toggle {
  border:0;
  margin: 0;
  line-height: 20px;
  padding: 15px 0;
  color: #777;
  
  border-radius: 0;
  background-color: transparent !important;
}
.site-navbar button.navbar-toggle:hover {
  border-color: rgba(234, 255, 255, 0.2);
  border-bottom: 1px solid;
  margin-bottom: -1px;
  color: #444;
}


.search-query {
	width: 200px;
	margin-right: 5px;
}

/* Footer */
footer {
	clear: left;
	background: #fff;
	color: #a6a6a7;
	margin-top: 25px;
	padding-bottom: 20px;
}
footer hr {
	border-color: #333;
}

/* Buttons */
.btn-small {
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.btn-micro {
	padding: 1px 5px;
	font-size: 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;	
}

/* Vertical Margins */
.mg-top-0 {
	margin-top: 0;
}
.mg-top-5 {
	margin-top: 5px;
}
.mg-top-10 {
	margin-top: 10px;
}
.mg-top-15 {
	margin-top: 15px;
}
.mg-top-20 {
	margin-top: 20px;
}
.mg-top-25 {
	margin-top: 25px;
}
.mg-bottom-0 {
	margin-bottom: 0;
}
.mg-bottom-5 {
	margin-bottom: 5px;
}
.mg-bottom-10 {
	margin-bottom: 10px;
}
.mg-bottom-15 {
	margin-bottom: 15px;
}
.mg-bottom-20 {
	margin-bottom: 20px;
}
.mg-bottom-25 {
	margin-bottom: 25px;
}
.pg-top-0 {
  padding-top: 0;
}
.pg-top-5 {
  padding-top: 5px;
}
.pg-top-10 {
  padding-top: 10px;
}
.pg-top-15 {
  padding-top: 15px;
}
.pg-top-20 {
  padding-top: 20px;
}
.pg-top-25 {
  padding-top: 25px;
}
.pg-bottom-0 {
  padding-bottom: 0;
}
.pg-bottom-5 {
  padding-bottom: 5px;
}
.pg-bottom-10 {
  padding-bottom: 10px;
}
.pg-bottom-15 {
  padding-bottom: 15px;
}
.pg-bottom-20 {
  padding-bottom: 20px;
}
.pg-bottom-25 {
  padding-bottom: 25px;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-group.date .input-group-addon i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/* Blog */
.post-summary, .post-summary h1, .post-summary h2, .post-summary h3 {
  text-align: left !important;
}
.post-summary p {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 23px;
  line-height: 2.3rem;
}

.post-summary h1 {
  font-size: 28px;
  font-size: 2.8rem;
  line-height: 32px;
  line-height: 3.22rem;
  margin: 0;
  letter-spacing: 0.02em;
}

.post-summary a h1, .post-summary a h2 {
  color: rgba(0, 0, 0, 1);
}
 .post-summary a h3 {
  color: rgba(125, 125, 125, 0.75);
  text-decoration: none;
 }

 .post-summary a {
  text-decoration: none;
 }
 .post-summary a:hover h1 {
  text-decoration: underline;
 }

.post-summary h2 {
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 28px;
  line-height: 2.86rem;
  margin: 0;
}

.post-summary h3 {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 22px;
  line-height: 2.26rem;

  margin: 0;
  letter-spacing: 0.01em;
  font-weight: 300;
  color: rgba(125, 125, 125, 0.75);
}

.post-index-container {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}
.post-index-sidebar {
  background: rgb(245, 245, 245);
  height: 100%;
}

.post-meta .avatar {
  height: 36px;
}
.post-meta-avatar {
  float: left;
  height: 36px;
}
.post-meta-author {
  float: left;
  height: 36px;
}
.post-meta-author i {
  font-size: 1.8rem;
}
.post-meta-author a.social-profile {
  color: #888;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.post-meta-author a.social-profile:hover {
  /*color: #333;*/
  color: #ab1d1d; /* going to use this red for link and accent colors */
}
.post-social-sharing {
  float: left;
}
.post-social-sharing h4 {
  margin-top: 0;
}
.post-container {
  padding-top: 2rem;
}
.post-container #post-body {
  padding-top: 2rem;
}

.labels-wrapper small {
  color: #888;
}
.labels-wrapper a {
  margin-right: 3px;
}

/* Update Profile */
.update-profile-container {
  height: 100%;
  margin-top: 0;
  padding-top: 0;
}
.update-profile-sidebar {
  height: 100%;
  background: rgb(245, 245, 245);
}
.profile-avatar-service-choice {
  border: 1px solid #bbb;
  /*width: 125px;*/
  display: block;
  float: left;
  height: 35px;
  padding: 5px 10px;
}
#missing-avatar {
  width: 150px;
  height: 150px;
  margin-bottom: 8px;
  text-align: center;
}
.missing-avatar-default {
  background: #ccc;
}